body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.divnavbar .icon {
    display: none;
    z-index: 1;
    padding: 20px;
}

.divnavbar a.aTitle {
    color: #8F8A3AA6;
    font-family: Bodoni Moda;
    font-size: 40px;
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 80px;
}
.divnavbar {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
}

.divnavbar a:hover:not(.active) {
/*    background-color: #8F8A3A30;*/
    background-color: #EAE9DC;
}

.divnavbar a {
    color: #8F8A3AA6;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: Raleway;
    font-size: 25px;
    background-color: white;
}

.divnavbar a.anavbar {
    color: #8F8A3AA6;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: Raleway;
    font-size: 25px;
    background-color: white;
    float: left;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

#main {
    background-image: url('/images/Picture.jpg');
    background-size: cover;
/*    height: 700px;*/
}

#bodyDiv {
    width: 100%;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
/*    background-color: yellow;*/
    display: block
}

#accentText {
    font-family: Bodoni Moda;
    color: #8F8A3AA6;
    font-size: 40px;
    font-weight: bold;
}

.titleText {
    font-family: Raleway;
    color: #212121;
    font-size: 20px;
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
/*    background-color: blue;*/
}

#textLink {
    color: #8F8A3A;
    text-decoration: none;
}

#textLink:hover {
    text-decoration: underline;
}

#pText {
    height: 100%;
}

#leftBox {
    width: 10%;
    height: 100%;
    display: block;
    float: left;
    z-index: 2;
/*    background-color: blue;*/
}

#rightBox{
    width: 10%;
    height: 100%;
    display: block;
    float: left;
    z-index: 2;
/*    background-color: blue;*/
}

#textBox {
/*    padding-top: 250px;*/
    width: 80%;
    display: block;
    float: left;
}
#text {
/*    padding: 50px;*/
    margin: 0;
    color: #FFFFFF;
    font-family: Bodoni Moda;
    text-align: center;
    font-size: 130px;
    background-color: #121C05;
}
#picture {
    width: 100%;
    
}
#footer {
	width: 100%;
	background-color: #8F8A3A30;
    padding-top: 20px;
    padding-bottom: 30px;
}

#rightFoot {
    display: inline;
    text-align: center;
    padding-left: 0px;
}

#rightDiv {
    text-align: center;
    width: 100%;
}

.footerText {
    font-family: Raleway;
    font-weight: bold;
    color: #8F8A3AA6;
    text-align: center;
    margin: 0;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size 75px;
}

.rightFootText {
    font-family: Raleway;
    color: #8F8A3AA6;
    padding: 5px;
    padding-top: 15px;
    font-size 30px;
    display: inline;
    margin: 0;
}

.footerLink {
    text-decoration: none;
    color: #8F8A3AA6;
}

.footerLink:hover {
    color: #8F8A3AF2;
}

@media screen and (max-width: 350px) {
    .divnavbar a.anavbar {
        display: none;
    }
    
    .divnavbar {
        height: 50px;
    }
    
    .divnavbar a.icon {
      float: left;
      display: block;
      padding-bottom: 15px;
      padding-top: 15px;
    }
    .divnavbar a.aTitle {
        float: none;
        text-align: center;
        font-size: 25px;
        height: 50px;
        padding-left: 0px;
    }
    
    #accentText {
        font-size: 20px;
    }
    
    
    #main {
        height: 340px;
    }
    
    #textBox {
        padding-top: 120px;
    }
    
    #text {
        font-size: 50px;
    }
    
    .footerText {
        font-size: 15px;
    }
    
    .rightFootText {
        font-size: 15px;
    }
    .titleText {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
  
  .divnavbar.responsive a.aTitle {
      float: none;
      text-align: center;
      display: block;
  }
  
  .divnavbar.responsive div.diva {
      display: block;
      float: none;
  }
  
  .divnavbar.responsive a.anavbar {
      float: none;
      display: block;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 30px;
      font-size: 20px;
  }
  
}

@media screen and (min-width: 350px) and (max-width: 627px) {
  .divnavbar a.anavbar {
      display: none;
  }
  
  .divnavbar {
      height: 80px;
  }
  
  .divnavbar a.icon {
    float: left;
    display: block;
    padding-bottom: 30px;
  }
  .divnavbar a.aTitle {
      float: none;
      text-align: center;
      font-size: 30px;
      height: 70px;
  }
  
  #main {
      height: 540px;
  }
  
  #textBox {
      padding-top: 180px;
  }
  
  #text {
      font-size: 90px;
  }
}

@media screen and (min-width: 350px) and (max-width: 627px) {
  
  .divnavbar.responsive a.aTitle {
      float: none;
      text-align: center;
      display: block;
      font-size: 30px;
  }
  
  .divnavbar.responsive div.diva {
      display: block;
      float: none;
  }
  
  .divnavbar.responsive a.anavbar {
      float: none;
      display: block;
      text-align: left;
      padding-top: 20px;
  }
  
}

@media screen and (min-width: 627px) and (max-width: 771px) {

  #textBox {
      padding-top: 150px;
      width: 80%
  }
  #main {
      height: 420px;
  }
  #text {
      padding: 50px;
      font-size: 70px;
  }
  #leftBox {
      width: 10%;
  }
  #rightBox {
      width: 10%;
  }
  br {
      display: none;
  }
}

@media screen and (min-width: 771px) and (max-width: 880px) {

  #textBox {
      padding-top: 180px;
      width: 80%
  }
  #main {
      height: 500px;
  }
  #text {
      padding: 50px;
      font-size: 90px;
  }
  #leftBox {
      width: 10%;
  }
  #rightBox {
      width: 10%;
  }
  br {
      display: none;
  }
}

@media screen and (min-width: 881px) and (max-width: 1207px) {

  #textBox {
      padding-top: 180px;
      width: 70%
  }
  #main {
      height: 500px;
  }
  #text {
      padding: 50px;
      font-size: 90px;
  }
  #leftBox {
      width: 15%;
  }
  #rightBox {
      width: 15%;
  }
  br {
      display: none;
  }
}

@media screen and (min-width: 1207px) {
    #textBox {
        padding-top: 250px;
        width: 70%
    }
    #main {
        height: 700px;
    }
    #text {
        padding: 50px;
    }
    #leftBox {
        width: 15%;
    }
    #rightBox {
        width: 15%;
    }
    br {
        display: none;
    }
}

/*@media screen and (min-width: 1000px) {*/
/*    #textBox {*/
/*        padding-top: 230px;*/
/*    }*/
/*    #main {*/
/*        height: 600px;*/
/*    }*/
/*}*/
